name: Run tests over package

on:
  workflow_dispatch:
  inputs:
    package-version:
      description: 'HTTP client package version, e.g. 0.1.0'
      required: true
      default: '0.1.0'

#  push:
#    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      env:
        FORCE_COLOR: 2
      with:
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
        pip install "yandex-query-client==${{ github.event.inputs.package-version }}"
    - name: Test with pytest
      env:
        FORCE_COLOR: 2
      run: |
        pytest -v
